{% extends "base.html.twig" %}
{% block body %}
    <a href="/" class="home-btn">Home</a>
    <h1 class="h1_form">Se connecter</h1>
    <div class="container content">
        {% if error %}
            <div class="alert alert-danger">{{  error.message }}</div>
        {% endif %}
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form._username) }}
            {{ form_label(form._username) }}
            {{ form_widget(form._username, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_errors(form._password) }}
            {{ form_label(form._password) }}
            {{ form_widget(form._password, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.login, { attr: { class: 'btn btn-white' }, label: 'Submit me' } ) }}
        </div>
    </div>
{% endblock body %}